.main{
  background-color: #86CEFC;
}
.ticTable td {
  height: 100px;
  width: 100px;
  padding: 15px;
  font-size: 3em;
  text-align: center;
  cursor: pointer;
}
.ticTable,.ticTable1{
  border: 2px solid white;
  background-color: #154360;
  margin-left: 200px;
}

.ticTable td:hover {
  background-color: #5499C7;
  text-shadow: 2px 1px 1px white;
}
.ticTable1 td {
  height: 100px;
  width: 100px;
  padding: 15px;
  text-align: center;
  cursor: pointer;
  font-size: 3em;
}

.ticTable1 td:hover {
  background-color: #004F81;
  text-shadow: 2px 1px 1px white;
}

.ticTable .borderBottom {
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  border-left: 1px black;
  border-right: 1px black;
  background: #D4E6F1;
}

.ticTable1 .borderBottom {
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  border-left: 1px black;
  border-right: 1px black;
  background: #D4E6F1;
}
.borderBottom {
  border-bottom: 1px solid black;
}
.borderRight {
  border-right: 1px solid black;
  border-left: 1px solid black;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-radius: 10px/8px;
}

.container {
  margin: 20px;
  width: auto;
  min-height: inherit;
  background-color: #86CEFC;
  background-size: auto;
}
.container h2{
  color: #1B4F72;
}

.box {
  margin: 20px;
  display: inline-block;
  float: left;
}

.controls {
  min-width: 400px;
  min-height: 300px;
  text-align: center;
  display: inline-block;
  margin: 80px 60px;
  background-color: #154360;
  color: white;
}

.controls span {
  display: inline-block;
  text-align: center;
  width: 100px;
  padding: 20px;
  margin: 0 10px;
}

.controls p {
  color: white;
}

.controls button {
  margin: 25px 15px;
  color: white;
  width: 100px;
  padding: 10px;
  background-color: rgba(39, 39, 39, 0.74);
  font-size: 0.8em;
  border-radius: 0.3em;
}

.controls button:hover{
  background-color: #1B4F72;
}
.markLabel {
  font-size: 2em;
}

.statusDiv {
  width: 50%;
  margin: auto;
  color: white;
}

table {
  display: inline-table;
}

.times {
  text-align: left;
  margin-left: 30px;
  font-style: italic;
  color: white;
}

.times span {
  width: 70px;
  font-style: normal;
  font-weight: bold;
}
